$brand-primary: #ef6249;
$brand-secondary: #29222b; 

$brand-white: #fff;
$brand-black: #000;
$brand-lighter: #848484;
$brand-darker: #5a5a5a;
$brand-selection-color: $brand-primary;
$brand-body-color: #fcfcfc;
$brand-body-bg: #fff;
$brand-dark-footer: #222831;

$input-border-focus: $brand-primary;
$form-group-margin-bottom: 30px;

.footer-03 {
  color: rgba(255, 255, 255, 0.4);
	padding: 6em 0 0 0;
	background: $inverse-base-color;
	@media screen and (max-width: $screen-sm) {
		padding: 3em 0;
  }
  
	h2, h3, h4 {
		color: rgba($brand-white,.8);
    text-transform: uppercase;
    margin-bottom: 1.7em;
	}

	ul {
		padding: 0;
		margin: 0;
		li {
			padding: 0;
			margin: 0 0 10px 0;
			list-style: none;
			a {
				color: rgba(255,255,255,.4);
				text-decoration: none!important;
				&:hover {
					color: $brand-white;
				}
			}
		}
	}
	.footer-social-links {
		li {
			display: block !important;
			a{
				font-size: 16px;
			}
			i{
				float: left;
				font-size: 20px;
				width: 40px;
			}
		}
	}
	.footer-copyright {
    font-size: 0.85em;
		margin-top: 40px !important;
		padding: 3em 3em 5em;
		span {
			display: block;
			a {
				color: rgba($brand-white,.8);
			}
		}
		@media screen and (max-width: $screen-xs) {
			text-align: left !important;
			span {
				display: inline;
			}
		}
	}
}
