@import "../../../assets/scss/vendors/bootstrap/variables";

@import "../../../assets/scss/vendors/bootstrap/mixins";

@import "../../../assets/scss/vendors/css3-mixins/css3-mixins.scss"; // Mixins 

@import "../../../assets/scss/helpers/mixins"; // Mixins 

@import "../../../assets/scss/style";

// Font-weights
// --------------------------
$font-weight-thin:    100;
$font-weight-light:   200;
$font-weight-normal:  300;
$font-weight-regular: $font-weight-normal;
$font-weight-medium:  400;
$font-weight-bold:    600;
$font-weight-bolder:  700;

// --------------------------------------------------------------
// Bootstrap variables are found in bootstrap/_variables.scss
// --------------------------------------------------------------
$desktop: 1200px;
$tablet: 992px;
$phone: 440px;


// Booptstrap overide 
// --------------------------
$brand-primary: #EA533F !default;
$brand-secondary: #2C3136 !default; // #2F2F2F
$link-color:  #EA533F !default;
$link-hover-color:   #c0392b !default;

$body-background-color: #fafafa;

body {
  background: $body-background-color;
  background-color: $body-background-color;
}

@import "ui-kit-footer-01";

@import "ui-kit-footer-02"; 

@import "ui-kit-footer-03"; 

.page-wrapper {
  background: #fcfcfc !important;
}

.delimeter {
  
}

.footer-01 {
  background: #FFF;
  border-bottom: 1px solid #e5e5e5;
}

.footer-02 {
  background: #FFF;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}