//---------------------------------------------------------------------
// Global variables  
//---------------------------------------------------------------------

@import "../../../src/scss/helpers/variables";
@import "../../../src/scss/helpers/bootstrap";


//---------------------------------------------------------------------
// Mixins
//---------------------------------------------------------------------

@import "../../../src/scss/vendors/bootstrap/mixins";

@import "../../../src/scss/vendors/matthieua-sass-css3-mixins/css3-mixins.scss";

@import "../../../src/scss/helpers/mixins";

// Font-weights
// --------------------------
$font-weight-thin:    100;
$font-weight-light:   200;
$font-weight-normal:  300;
$font-weight-regular: $font-weight-normal;
$font-weight-medium:  400;
$font-weight-bold:    600;
$font-weight-bolder:  700;

// --------------------------------------------------------------
// Bootstrap variables are found in bootstrap/_variables.scss
// --------------------------------------------------------------
$desktop: 1200px;
$tablet: 992px;
$phone: 440px;


// Booptstrap overide 
// --------------------------
$brand-primary: #EA533F !default;
$brand-secondary: #2C3136 !default; // #2F2F2F
$link-color:  #EA533F !default;
$link-hover-color:   #c0392b !default;

$body-background-color: #fafafa;

body {
  background: $body-background-color;
  background-color: $body-background-color;
}

// List options

// [converter] extracted from `.list-unstyled` for libsass compatibility
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}
// [converter] extracted as `@mixin list-unstyled` for libsass compatibility
.list-unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@import "ui-kit-footer-01";

@import "ui-kit-footer-02"; 

@import "ui-kit-footer-03"; 

.footer-01 {
  background: #FFF;
  border-bottom: 1px solid #e5e5e5;
}

.footer-02 {
  background: #FFF;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}