// 
// Include theme specific mixins here... 
// Be sure to check that your mixin doesn't already exist in ../../vendors
//

@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

@import "../vendors/bootstrap4-migration/mixins/text-truncate";

@import "../vendors/my-sass-mixins/mixins";

@mixin breakpoint($breakpoint: null, $queries: null) {
  $query: 'screen';

  // Breakpoint.
  @if $breakpoint and map-has-key($breakpoints, $breakpoint) {
    $query: $query + ' and ' + map-get($breakpoints, $breakpoint);
  }

  // Queries.
  @if $queries {
    @each $k, $v in $queries {
      $query: $query + ' and (' + $k + ':' + $v + ')';
    }
  }

  @media #{$query} {
      @content;
  }
}