
a, a.current, a.active, a:active {
  outline: 0 !important;
}

code,
.code {
  color: #E74C3C;
  border-radius: 1px;
  background: #fff;
  border: solid 1px #e1e4e5;
}

hr {
  &.small {
    border-top: 4px solid #FFF;
    max-width: 40px;
  }
}